.App {
 
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "BDSans";
  src: local("BeautifullyDelicious.ttf"),
  url("./assets/fonts/BeautifullyDelicious.ttf") format("trueType");
}
@font-face {
  font-family: "KollektifBold";
  src: local("Kollektif-bold.ttf"),
  url("./assets/fonts/kollektif/Kollektif-Bold.ttf") format("trueType");
}
@font-face {
  font-family: "Kollektif";
  src: local("Kollektif.ttf"),
  url("./assets/fonts/kollektif/Kollektif.ttf") format("trueType");
}
